<!DOCTYPE html>
<html ng-app="rubyChinaApp">
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <title>Ruby China社区</title>
    <link rel="stylesheet" href="stylesheets/popup.css" type="text/css" media="screen" />

  </head>
  <body style="width:470px;" ng-controller="TopicListCtrl">
    <header><div id="notify" class="pull-right">提醒</div>Ruby China社区</header>
    <div id="loading"><img src="images/loading1.gif"></div>

    <div id="topics" class="topics">
      <div id="topic_{{topic.id}}" class="topic topic_line" ng-repeat="topic in topics">
        <div class="pull-left avatar">
          <a href="http://ruby-china.org/{{topic.user.login}}" rel="userpopover" class="user_avatar" target="_blank">
            <img src="{{topic.user.avatar_url}}" style="width:48px;height:48px;">
          </a>
        </div>

        <div class="right_info">
          <div class="pull-right replies">
            <a href="http://ruby-china.org/topics/{{topic.id}}#reply30" class="count state_false" rel="twipsy" target="_blank" >{{topic.replies_count}}</a>
          </div>
          <div class="infos">
            <div class="title">
              <a href="http://ruby-china.org/topics/{{topic.id}}" title="{{topic.title}}" target="_blank">{{topic.title}}</a>
            </div>
            <div class="info leader">
              <a href="http://ruby-china.org/topics/node{{topic.node_id}}" target="_blank">{{topic.node_name}}</a>  •
              <a href="http://ruby-china.org/{{topic.user.login}}" target="_blank">{{topic.user.login}}</a>
              •
              <abbr class="timeago" title="{{topic.created_at | timeago}}">{{topic.created_at | timeago}}</abbr>
            </div>
            <div class="info time" ng-if="topic.replied_at">
              最后由 <a href="http://ruby-china.org/{{topic.last_reply_user_login}}" target="_blank">{{topic.last_reply_user_login}}</a> <abbr class="timeago" title="{{topic.replied_at | timeago}}">{{topic.replied_at | timeago}}</abbr> 回复

            </div>
          </div>
        </div>
      </div>
    </div><!-- #topic -->

    <footer>&copy; 2012 </footer>
    <script type="text/javascript" src="javascripts/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery.timeago.js"></script>
    <script type="text/javascript" src="javascripts/jquery.timeago.zh-CN.js"></script>
    <script type="text/javascript" src="javascripts/angular.min.js"></script>
    <script type="text/javascript" src="javascripts/popup.js"></script>
  </body>
</html>
